rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function getAdminList(){
      return ['1gy12w8CO7Y3MffHeI4MSnFzlBQ2'];
    }

    function isAuth(){
        return request.auth != null;
    }

    function isUser(userId){
        return request.auth.uid == userId;
    }

    function isAdmin(){
        return request.auth.uid in getAdminList();
    }

    match /public/{any=**} {
      allow get;
    }

    match /shared/{any=**} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }

    match /users/{userId}/{any=**} {
      allow read, write: if (isUser(userId) || isAdmin());
    }
  }

}
